<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emgu.CV" version="4.7.0.5276" targetFramework="net48" />
  <package id="Emgu.CV.Bitmap" version="4.7.0.5276" targetFramework="net48" />
  <package id="GameOverlay.Net" version="4.3.1" targetFramework="net48" />
  <package id="NHotkey" version="2.1.1" targetFramework="net48" />
  <package id="NHotkey.WindowsForms" version="2.1.1" targetFramework="net48" />
  <package id="OpenCV.Net" version="3.4.1" targetFramework="net48" />
  <package id="SharpDX" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
</packages>